<?php

use goldencode\Bitrix\Migrations\BitrixMigration;
use Arrilot\BitrixMigrations\Exceptions\MigrationException;

class __className__ extends BitrixMigration
{
	/**
	 * Run the migration.
	 *
	 * @return mixed
	 * @throws MigrationException
	 */
	public function up()
	{
		$this->deleteIblockByCode(__code__);
	}

	/**
	 * Reverse the migration.
	 *
	 * @return mixed
	 * @throws MigrationException
	 */
	public function down()
	{
		return false;
	}
}
